section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);

  justify-content: space-between;


  gap: 10px;

  .border-container {
    border: 1px solid #3C3836;
    position: relative;
    color: #3C3836;

    .inner {
      color: #FBF1C7;
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
      overflow-y: auto;

    }
  }

  .border-container::before {
    position: absolute;
    top: -8px;
    left: 5px;
    background-color: #282828;
  }


  .border-container:hover {
    border-color: #B8BB26;
    color: #B8BB26;
  }

  .top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;


    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;

      overflow: hidden;

      p {
        display: flex;
        justify-content: space-between;

        .navigation {
          display: flex;
          gap: 10px;
          align-items: center;

          color: #3C3836;
        }
      }
    }


  }

  .top-bar::before {
    content: "Nav";
  }

  .main {
    height: calc(100vh - 150px);
    display: flex;
    gap: 10px;

    .main-bar {
      flex: 1;
    }

    .main-bar::before {
      content: "Main";
    }

    .left-side-bar {
      width: 9ch;
    }

    .left-side-bar::before {
      content: "Projrcts";
    }

    .right-side-bar {
      width: 250px;
    }

    .right-side-bar::before {
      content: "Info";
    }

  }

  .bottom-bar {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;


    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        gap: 10px;
      }
    }
  }

  .bottom-bar::before {
    content: "Footer";
  }
}