section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  justify-content: space-between;
  gap: 10px;
}

.border-container {
  border: 1px solid #3C3836;
  position: relative;
  color: #3C3836;
}

.border-container .inner {
  color: #FBF1C7;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  overflow-y: auto;
}

.border-container::before {
  position: absolute;
  top: -8px;
  left: 5px;
  background-color: #282828;
}

.border-container:hover {
  border-color: #B8BB26;
  color: #B8BB26;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.top-bar .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.top-bar .inner p {
  display: flex;
  justify-content: space-between;
}

.top-bar .inner p .navigation {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #3C3836;
}

.top-bar::before {
  content: "Nav";
}

.main {
  height: calc(100vh - 150px);
  display: flex;
  gap: 10px;
}

.main .main-bar {
  flex: 1;
}

.main .main-bar::before {
  content: "Main";
}

.main .left-side-bar {
  width: 9ch;
}

.main .left-side-bar::before {
  content: "Projrcts";
}

.main .right-side-bar {
  width: 250px;
}

.main .right-side-bar::before {
  content: "Info";
}

.bottom-bar {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

.bottom-bar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-bar .inner p {
  display: flex;
  gap: 10px;
}

.bottom-bar::before {
  content: "Footer";
}

/* #mini-main:checked ~ .main-bar {
  display: block;
} */
#mini-main:checked~.left-side-bar {
  display: none;
}

#mini-main:checked~.right-side-bar {
  display: none;
}
.main-bar .inner .home {
  display: none;
}
#mini-main:checked~.main-bar .inner .home {
  display: block;
}